.cproject
.project
.settings
.pydevproject
.vscode
.devcontainer
dist
src/.libmedusa.a
src/.libmedusa.o
src/.libmedusa.so
src/.libmedusa.so.1
src/libmedusa.a
src/libmedusa.o
src/libmedusa.so
src/libmedusa.so.1
test/.*-??
test/*-??
